<div class="bg-black  shadow overflow-x-hidden sm:rounded-lg w-screen h-screen">

  <div class="px-4 py-5 sm:px-6 flex mx-20 justify-between ">
    <div>
      <h3 class="text-lg leading-6 font-medium text-white">Server Information</h3>
      <p class="mt-1 max-w-2xl text-sm text-gray-500">Add/delete/ping/edit servers</p>
    </div>

    <div class="flex lg:flex-nowrap flex-wrap items-start gap-3  ">

      <div class="">
        
          <select (ngModelChange)="filterServers($event)" ngModel="ALL" name="status" 
            class="px-3 py-2 text-base  rounded-lg text-sm">
            <option value="ALL">all</option>
            <option value="SERVER_UP">server up</option>
            <option value="SERVER_DOWN">server down</option>
          </select>
       
      </div>

      <button type="button" (click)="toggleHide()" class="text-white 
      bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 
      focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg 
      dark:shadow-green-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Add Server</button>


      <button (click)="printReport()" type="button" class="text-white bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none
       focus:ring-purple-300 dark:focus:ring-purple-800 shadow-lg shadow-purple-500/50 dark:shadow-lg 
       dark:shadow-purple-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Print
        report</button>

    </div>

  </div>
  <ng-container *ngIf="(appState$ | async ) as appState" [ngSwitch]="appState.dataState">


    <ng-container *ngSwitchCase="DataState.LOADING_STATE">
      <div class="flex items-center justify-center h-9">
        <div class=" spinner-border animate-spin inline-block w-8 h-8 border-4 rounded-full m-12" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>

    </ng-container>

    <ng-container *ngSwitchCase="DataState.LOADED_STATE">

      <div class="w-full flex justify-center items-center">


        <table class="rounded-md border-2 border-pink-500 m-9 w-4/5" id="servers">

          <thead class="bg-purple-500  text-white p-5">
            <tr>
              <th class="p-5">Image</th>
              <th class="p-5">IP Address</th>
              <th class="p-5">Name</th>
              <th class="p-5">Memory</th>
              <th class="p-5">Type</th>
              <th class="p-5">Status</th>
              <th class="p-5">Ping</th>
              <th class="p-5">Actions</th>
            </tr>
          </thead>


          <tbody class="bg-gray-50 w-full" *ngFor="let server of appState.appData.data.servers; let i = index">
            <tr class="">
              <th class="p-5">
                <img [src]="server.imageUrl" [alt]="server.name" class="rounded " width="45">
              </th>
              <th class="p-5">{{server.ipAddress}}</th>
              <th class="p-5">{{server.name}}</th>
              <th class="p-5">{{server.memory}}</th>
              <th class="p-5">{{server.type}}</th>

              <th>

                <div class=" bg-red-600 text-sm text-white rounded text-center w-28 p-1"
                  [ngStyle]="{'background-color': server.status === 'SERVER_UP' && 'green'}">
                  {{server.status}}
                </div>
              </th>

              <th class="flex  mt-3 p-5">
                <svg *ngIf="(filterStatus$ | async) === '' || (filterStatus$ | async) !=='server.ipAddress' "
                  class="w-6 h-6 dark:text-white cursor-pointer hover:text-green-600" fill="none" stroke="currentColor"
                  viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" (click)="pingServer(server.ipAddress)">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M15 13l-3 3m0 0l-3-3m3 3V8m0 13a9 9 0 110-18 9 9 0 010 18z"></path>
                </svg>

                <svg *ngIf="(filterStatus$ | async) === 'server.ipAddress' " class="animate-spin h-5 w-5 text-gray-600"
                  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                  <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                  <path class="opacity-75" fill="currentColor"
                    d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
                  </path>
                </svg>
              </th>

              <th class="p-5">
                <svg (click)="deleteServer(server.id)" class="w-6 h-6  text-red-600 cursor-pointer" fill="none"
                  stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M5 8h14M5 8a2 2 0 110-4h14a2 2 0 110 4M5 8v10a2 2 0 002 2h10a2 2 0 002-2V8m-9 4h4"></path>
                </svg>
              </th>
            </tr>


          </tbody>



        </table>
      </div>
    </ng-container>


    <ng-container *ngSwitchCase="DataState.ERROR_STATE">
      <div class="m-9">
        <div class="bg-red-500 text-white font-bold rounded-t px-4 py-2" role="alert">
          Error
        </div>
        <div class="border border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 text-red-700">
          <p>{{appState.error}}</p>
        </div>
      </div>
    </ng-container>
  </ng-container>


  <!-- Add server modal -->
  <div class="absolute top-0 z-50 w-full h-full  justify-center items-center flex"
    [ngStyle]="{'display':hide?'none':'flex'}">
    <div class="relative p-4 w-full max-w-md h-full md:h-auto">
      <!-- Modal content -->
      <div class="relative bg-green-500  rounded-lg shadow-lg  dark:bg-gray-700 text-white">
        <div class="flex justify-end p-2">
          <button type="button" (click)="toggleHide()"
            class="text-white bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white"
            data-modal-toggle="authentication-modal">
            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
            </svg>
          </button>
        </div>
        <form class="px-6 pb-4 space-y-6 lg:px-8 sm:pb-6 xl:pb-8" action="#" #serverForm="ngForm"
          (ngSubmit)="saveServer(serverForm)">
          <h3 class="text-xl font-medium text-white dark:text-white">Add new server</h3>
          <div>
            <label for="ip" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">
              IP</label>
            <input ngModel type="text" name="ipAddress" id="ip"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
              required>
          </div>
          <div>
            <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">
              Name</label>
            <input ngModel type="text" name="name"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
              required>
          </div>

          <div class="flex gap-4">
            <div>
              <label for="memory" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                Memory</label>
              <input ngModel type="text" name="memory"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                required>
            </div>

            <div>
              <label for="type" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                Type</label>
              <input ngModel type="text" name="type"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                required>
            </div>


          </div>

          <div>
            <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">
              Status</label>
            <select ngModel="SERVER_DOWN" class="w-full px-1 py-3 text-black rounded" name="status">
              <option value="SERVER_UP" selected>server up</option>
              <option value="SERVER_DOWN">server down</option>
            </select>
          </div>


          <button [disabled]="serverForm.invalid || (isLoading$ | async) " type="submit"
            class="w-full text-white bg-black hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium 
              rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            <span *ngIf="(isLoading$ | async)">Saving...</span>
            <span *ngIf="!(isLoading$ | async)">Add</span>
            server</button>




        </form>
      </div>
    </div>
  </div>

</div>